body {
	border: 1px dotted tomato;
	box-sizing: border-box;
	border-width: 0 1px;
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	max-width: 700px;
	min-height: 100vh;
	padding: 4rem;
}

ul {
	padding: 0;
}

ul li {
	color: red;
	padding: 1rem 0;
}

/* 2. create css class */
.done {
	color: lightgreen;
	text-decoration: line-through;
}

/* additional */
button.delete {
	float: right;
	vertical-align: middle;
}
